.message-container {
  width: 99%;
  font-weight: 300;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
  background: inherit;
  position: relative;
  padding: 0.5rem 1rem;
  transform: translateX(-100%);
  animation: slideIn 300ms forwards;
  word-wrap: break-word;
}
.message-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
.message-header-text {
  font-weight: 400;
}
.message-text {
  color: white;
  font-size: 16px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
