.sidebar {
  background-color: var(--background-color);
  width: 200px;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.hidden {
  display: none;
}

.close-sidebar-menu {
  align-self: flex-end;
}

/* BAR */
.bar {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}




.open-sidebar-menu {
  justify-self: flex-start;
  align-self: flex-start;
  z-index: 10;
  margin-left: .5rem;
  padding: 1rem;
}
.sidebar-button {
  border: none;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
  scale: .9;
  transition: all 200ms ease;
}
.expand-icon{
  color: var(--text-color);
}
.sidebar-button:hover{
  opacity: 1;
  scale: 1;
  cursor: pointer;
  color: var(--text-color);
}

.go-back-btn {
  background-color: inherit;
  border-radius: 0.2rem;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.go-back-btn-text {
  font-size: 1rem;
  text-decoration: underline;
}
.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

