.container{
  background-color: var(--background-color);
}
.chatbot-container {
  flex: 1;
  height: 100vh;
  width: 100vw;
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.chatbot {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  max-width: 100%;
  border-radius: 0.3rem;
  box-shadow: inset 1px 1px 5px 1px #323131d4;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
  background-color: var(--chat-bg-color);
}


.message-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;
}
.scroll-down-button {
  position: fixed;
  bottom: 10%;
  left: 50%;
}

