@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  /** COLORS **/
  /* Global */
  --border-radius: 0.5rem;
  --background-color: #1c1c1c;
  --sidebar-bg-color: #3f3f3f;
  --sidebar-color: #1c1c1c;
  --title-color: #fff;
  --text-color: #ffffff;
  /* Configure */
  --label-color: #ffffff;
  --button-text-color: var(--text-color);
  --button-bg-color: #476adb;
  --button-bg-color-disabled: #4f4f4f;

  /* Chatbot */
  --chat-bg-color: #f9f9f9;
  /** FONT-SIZES **/
  --title-small: 2rem;
  --title-big: 3.5rem;
  --text-small: 1rem;
  --text-big: 1.2rem
}

body {
  font-family: "Poppins", sans-serif;
}
*,
*::after,
*::before {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* For WebKit-based browsers (Chrome, Safari) */
/* You can use ::-webkit-scrollbar to target the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}
::-webkit-scrollbar-track {
  background: #cecdc1;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a4849; /* Color of the scrollbar handle */
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

/* For Mozilla-based browsers (Firefox) */
/* You can use scrollbar for targeting the scrollbar */
scrollbar {
  width: 5px; /* Width of the scrollbar */
}
/* Track */
scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
scrollbar-thumb {
  border-radius: 5px;
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}
