

.wrapper {
  height: 800px;
  width: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 1px 1px 5px 1px #33333369;
  font-family: 'Poppins', sans-serif;
  
}
.message-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-height: 600px;
  overflow: auto;
  padding: 1.5rem .5rem 1.5rem 0rem;
}
.message-text {
  font-size: 16px;
  color: rgb(255, 255, 255); /* Text color */
}

/* Optional: Add a shadow to the message bubble */
.message-container {
  width: fit-content;
  font-weight: 300;
  max-width: 70%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background: #333;
  position: relative;
  padding: .5rem 1rem;
  scale: 0;
  animation: scale 200ms ease-in 200ms forwards;
}

.msg-bot {
  border-radius: 1rem 1rem 1rem 0rem;
  background-color: rgb(103, 103, 103);
  align-self: flex-start;
}
.msg-user {
  background-color: rgb(69, 110, 236);
  border-radius: 1rem 1rem 0rem 1rem;
  align-self: flex-end;
}
@keyframes scale {
  from {
    scale: 0;
  } 
  to {
    scale: 1;
  } 
}

/* For WebKit-based browsers (Chrome, Safari) */
/* You can use ::-webkit-scrollbar to target the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

/* For Mozilla-based browsers (Firefox) */
/* You can use scrollbar for targeting the scrollbar */
scrollbar {
  width: 5px; /* Width of the scrollbar */
}
/* Track */
scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
scrollbar-thumb {
  border-radius: 5px;
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 2px solid #adadade2;
  height: 50px;
  padding: 0.5rem;
  border-radius: 1rem;
  
}

.input-container input {
  font-size: 16px;
  border: none;
  outline: none;
  height: 100%;
  flex: 1;
  background-color: white;
}
.input-container button {
  border-radius: 0.5rem;
  border: none;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  outline: none;
  transition: all 200ms ease;
}


.active {
  opacity: 1;
  background-color: rgb(69, 110, 236);
  scale: 1;
}
.disabled{
  opacity: .5;
  background-color: #33333388;
  scale: .95;
}

.input-container button:focus:not(.disabled), .input-container button:hover:not(.disabled) {
  opacity: 1;
  
  scale: 1;
}

/* Greeting */
.greeting-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.greeting-container img {
  opacity: .6;
}
.greeting-container .greeting-txt{
  font-size: 1.3rem;
  font-weight: 500;
  color: #565656;
}

/* LOADING */

.loading-container{
  margin: 0%;
  padding: 0%;
  
  height: fit-content;
  width: fit-content;
  transform: translate(-28%, -20%);
}